<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "jquery", "jquery_ujs" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
